.logout-button{
    border: 0;
    outline: 0;
    padding: 8px 1em;
    color: #222;
    font-size: 13px;
    font-weight: 600;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #00c9ff;
    transition: all 240ms ease-in-out;
    cursor: pointer;
}

.logout-button:hover {
color: #fff;
background-color: #00c9ff;
}

.logout-button:not(:last-of-type) {
margin-right: 7px;
}