.club-home > .announcement-list {
    display: grid;
    justify-items: center;
}

.announcement-space {
    margin: 5px;
    width: 100%; 
    
}

.pagination-container {
    margin: 5% auto;
    /* position: absolute;
    bottom: 0; */
}