.events-nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-top: 10px;
    border-bottom: 2px solid rgb(19, 120, 252);
}

.three-button{
    width: 30%;
    text-align: center;
}

