.admin-list-events {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}


.pagination-container {
    /* display: block; */
    margin: 5% auto;
}

@media(max-width: 600px){
    .admin-list-events {
        margin: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}