.club-home > .announcement-list {
    display: grid;
    justify-items: center;
}

.announcement-space {
    margin: 5px;
    width: 100%;
}

.announcement-create-button {
    margin: 5% 2%;
    text-align: center;
    /* z-index: 1 !important; */
}

.pagination-container{
    margin: 5% auto;
}